.navbar {
    background-repeat: no-repeat;
    color: #101010;
}

.openClose {
    font-family: 'Halant', serif;
    font-size: xx-large;
    color: #101010;
}

.rest{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: xx-large;
    color: #101010;
}

.navbarText {
    color: #101010;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    
}

/* Index Page - About Me */
h1, h3,{
    background: transparent;
    background-repeat: no-repeat;
    color: #101010;
    padding: 2%;
}

.container-bio {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    color: #101010;
    background:  transparent;
}

.bio {
    text-align: left;
}

a {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    color: #101010;
}

/* Portfolio Page */
p {
    text-align: center;
}

.container-portfolio-cards {
    padding-top: 5%;
    height: 100%;
    vertical-align: middle;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}

.card {
    opacity: 0.5;
}

.card:hover {
    opacity: 1;
}

/* Contact Page */
.container-contact {
    padding-top: 5%;
    width: 500px;
    font-family: 'Cormorant Garamond', serif;
    color: #101010;
    text-shadow: white 2px 2px 5px;
    font-size: large;
}

.btn {
    background-color: #4E4C67;
    border: #4E4C67;
    box-shadow: white 3px 3px 10px;;
}

.btn:hover {
    background-color: #A6B1E1;
}